<!doctype html><html><head>
  <link rel="stylesheet" href="cesium/Widgets/widgets.css">
  <script src="cesium/Cesium.js"></script>
<title>vue-widget-quasar-clivite-template</title>
    <meta charset="utf-8" />
    <meta name="description" content="2024-12-19,a vue widget quasar-cli vite  project" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"
    />
    <link rel="icon" type="image/ico" href="./favicon.ico" />
    <link rel="stylesheet" type="text/css" href="./css/common.css" />
    <script src="./SysConfig.js"></script>
    <!-- <script src="/js/geolocation.min.js"></script> -->
    <script type="text/javascript" include="geolocation,CesiumOfflineCache,turf" src="./js/include-web.js"></script>
       <script type="module" crossorigin src="./assets/index-DylLUN-r.js"></script>
       <link rel="modulepreload" crossorigin href="./assets/monaco-editor-exp-BNK_u0iZ.js">
       <link rel="modulepreload" crossorigin href="./assets/@vue-exp-CzdoyapG.js">
       <link rel="modulepreload" crossorigin href="./assets/lottie-web-exp-CIY4INm7.js">
       <link rel="modulepreload" crossorigin href="./assets/vendor-CSzZZ-de.js">
       <link rel="modulepreload" crossorigin href="./assets/quasar-exp-B7YDMHDE.js">
       <link rel="modulepreload" crossorigin href="./assets/axios-exp-C7rfqWEd.js">
       <link rel="modulepreload" crossorigin href="./assets/@iconify/vue-exp-BLEeEXwl.js">
       <link rel="modulepreload" crossorigin href="./assets/xframelib-exp-uSJ3EBow.js">
       <link rel="modulepreload" crossorigin href="./assets/xgis-cesium-exp-Cbv1lISI.js">
       <link rel="modulepreload" crossorigin href="./assets/vue-router-exp-B23Vo4Jw.js">
       <link rel="stylesheet" crossorigin href="./assets/monaco-editor-exp-B7uS4J0T.css">
       <link rel="stylesheet" crossorigin href="./assets/vendor-BGDqWjJk.css">
       <link rel="stylesheet" crossorigin href="./assets/quasar-exp-wdFvCToT.css">
       <link rel="stylesheet" crossorigin href="./assets/xframelib-exp-254NBRTd.css">
       <link rel="stylesheet" crossorigin href="./assets/xgis-cesium-exp-BpJXcbkZ.css">
       <link rel="stylesheet" crossorigin href="./assets/index-C-qRGThU.css">
     </head><body>
    <div id="apploading" class="app-loading">
      <div class="app-loading-wrap">
        <div id="logo-part">
          <img src="./img/logo.png" alt="Logo" id="waitLogo" />
          <img src="./img/spinner.svg" alt="" id="waitSpinner" />
        </div>
        <div class="app-loading-title">
          <script>
            document.writeln(document.title);
          </script>
        </div>
        <div id="app-loading-info">正在加载……</div>
      </div>
    </div>
    <div id=q-app></div></body></html>