@font-face {
  font-family: "iconfont"; /* Project id 2639464 */
  src: url('iconfont.woff2?t=1641548443075') format('woff2'),
       url('iconfont.woff?t=1641548443075') format('woff'),
       url('iconfont.ttf?t=1641548443075') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tingzhi:before {
  content: "\e693";
}

.icon-shangchuandaochu:before {
  content: "\e8c6";
}

.icon-xiazaidaoru:before {
  content: "\e8c7";
}

.icon-buxing:before {
  content: "\e64f";
}

.icon-icon-feixingmanyou:before {
  content: "\e65b";
}

.icon-weixing:before {
  content: "\e65c";
}

.icon-qiche:before {
  content: "\ec6d";
}

.icon-ditumanyou:before {
  content: "\edf4";
}

.icon-node:before {
  content: "\e692";
}

.icon-grouping:before {
  content: "\e691";
}

.icon-a-Windflowfield:before {
  content: "\e690";
}

.icon-a-Forcedtolight1:before {
  content: "\e68f";
}

.icon-fog1:before {
  content: "\e68d";
}

.icon-a-Fullscreenfogeffect1:before {
  content: "\e68e";
}

.icon-a-Dualdisplay:before {
  content: "\e682";
}

.icon-WMS:before {
  content: "\e619";
}

.icon-a-Historicalimage:before {
  content: "\e61a";
}

.icon-WMTS:before {
  content: "\e61b";
}

.icon-Lab:before {
  content: "\e61c";
}

.icon-a-online:before {
  content: "\e61d";
}

.icon-color:before {
  content: "\e61e";
}

.icon-a-Screenshotofthescene_1:before {
  content: "\e61f";
}

.icon-a-Tilesdebugging_1:before {
  content: "\e620";
}

.icon-a-Singleviewport_1:before {
  content: "\e621";
}

.icon-terrain:before {
  content: "\e622";
}

.icon-a-Tiletesting_1:before {
  content: "\e623";
}

.icon-a-modelstructure:before {
  content: "\e624";
}

.icon-timeline_1:before {
  content: "\e625";
}

.icon-a-statusbar_1:before {
  content: "\e626";
}

.icon-a-plottingscale:before {
  content: "\e627";
}

.icon-a-Navigationcontrols_1:before {
  content: "\e628";
}

.icon-a-Layermanagement_3:before {
  content: "\e629";
}

.icon-a-Themousetopickup_1:before {
  content: "\e62a";
}

.icon-VR_1:before {
  content: "\e62b";
}

.icon-a-firstperson_1:before {
  content: "\e62c";
}

.icon-a-Right-clickrotation_1:before {
  content: "\e62d";
}

.icon-default:before {
  content: "\e62e";
}

.icon-a-Bindingcamera_3:before {
  content: "\e62f";
}

.icon-a-Centerpivot_1:before {
  content: "\e630";
}

.icon-a-Theglobalrotation_1:before {
  content: "\e631";
}

.icon-custom_1:before {
  content: "\e632";
}

.icon-china_1:before {
  content: "\e633";
}

.icon-a-theearth:before {
  content: "\e634";
}

.icon-stockpile:before {
  content: "\e635";
}

.icon-ODLines:before {
  content: "\e636";
}

.icon-a-Parabolicinterpolation:before {
  content: "\e637";
}

.icon-a-Fillthesurface:before {
  content: "\e638";
}

.icon-a-retainingwall:before {
  content: "\e639";
}

.icon-way:before {
  content: "\e63a";
}

.icon-a-Stickamapyuan:before {
  content: "\e63b";
}

.icon-a-Pathanimation:before {
  content: "\e63c";
}

.icon-a-Theelevationmap:before {
  content: "\e63d";
}

.icon-model_1:before {
  content: "\e63e";
}

.icon-a-Smoothpolygon:before {
  content: "\e63f";
}

.icon-a-Particlesoffireworks:before {
  content: "\e640";
}

.icon-particulates:before {
  content: "\e641";
}

.icon-Monomer:before {
  content: "\e642";
}

.icon-a-Flattailarrow:before {
  content: "\e643";
}

.icon-polygon:before {
  content: "\e644";
}

.icon-a-double-headedarrow:before {
  content: "\e645";
}

.icon-circle:before {
  content: "\e646";
}

.icon-a-Flattailarrowparticle:before {
  content: "\e647";
}

.icon-rectangle:before {
  content: "\e648";
}

.icon-a-brokenline:before {
  content: "\e649";
}

.icon-a-Figurepunctuation:before {
  content: "\e64a";
}

.icon-custom_2:before {
  content: "\e64b";
}

.icon-a-Labbuilt-in:before {
  content: "\e64c";
}

.icon-a-Onlinesharing:before {
  content: "\e64d";
}

.icon-mosaic:before {
  content: "\e64e";
}

.icon-a-Thelensspotyao:before {
  content: "\e650";
}

.icon-a-nightvision:before {
  content: "\e651";
}

.icon-a-blackandwhite:before {
  content: "\e652";
}

.icon-luminance:before {
  content: "\e653";
}

.icon-outline:before {
  content: "\e654";
}

.icon-a-depthoffield:before {
  content: "\e655";
}

.icon-a-Environmenttocover:before {
  content: "\e656";
}

.icon-floodlight:before {
  content: "\e657";
}

.icon-shadow:before {
  content: "\e658";
}

.icon-a-Theskybox:before {
  content: "\e659";
}

.icon-a-starrysky:before {
  content: "\e65a";
}

.icon-snow:before {
  content: "\e65d";
}

.icon-rain:before {
  content: "\e65e";
}

.icon-cloud:before {
  content: "\e65f";
}

.icon-moon:before {
  content: "\e660";
}

.icon-atmosphere:before {
  content: "\e661";
}

.icon-sun:before {
  content: "\e662";
}

.icon-eliminate:before {
  content: "\e663";
}

.icon-volume:before {
  content: "\e664";
}

.icon-a-Circularsighting:before {
  content: "\e665";
}

.icon-intervisibility:before {
  content: "\e666";
}

.icon-azimuth:before {
  content: "\e667";
}

.icon-a-Thefacadearea:before {
  content: "\e668";
}

.icon-profile:before {
  content: "\e669";
}

.icon-area:before {
  content: "\e66a";
}

.icon-altitude:before {
  content: "\e66b";
}

.icon-a-Sticktodistance:before {
  content: "\e66c";
}

.icon-distance:before {
  content: "\e66d";
}

.icon-a-Pointposition:before {
  content: "\e66e";
}

.icon-potholing:before {
  content: "\e66f";
}

.icon-model1:before {
  content: "\e670";
}

.icon-a-Visualvalve:before {
  content: "\e671";
}

.icon-sectioning:before {
  content: "\e672";
}

.icon-a-Videofusion:before {
  content: "\e673";
}

.icon-planish:before {
  content: "\e674";
}

.icon-a-Thesurfaceoftransparent:before {
  content: "\e675";
}

.icon-surface:before {
  content: "\e676";
}

.icon-a-Undergroundmode:before {
  content: "\e677";
}

.icon-a-triangulationnetwork:before {
  content: "\e678";
}

.icon-a-depthmeasurement:before {
  content: "\e679";
}

.icon-a-Terrainillumination:before {
  content: "\e67a";
}

.icon-a-Terraincutting:before {
  content: "\e67b";
}

.icon-exposure:before {
  content: "\e67c";
}

.icon-a-contourline:before {
  content: "\e67d";
}

.icon-slope:before {
  content: "\e67e";
}

.icon-elevation:before {
  content: "\e67f";
}

.icon-a-Debuggingpackage:before {
  content: "\e680";
}

.icon-skiplod:before {
  content: "\e681";
}

.icon-a-Senseofscienceandtechnology:before {
  content: "\e683";
}

.icon-viewport:before {
  content: "\e684";
}

.icon-spin:before {
  content: "\e685";
}

.icon-move:before {
  content: "\e686";
}

.icon-style:before {
  content: "\e687";
}

.icon-a-Classificationoftheterrain:before {
  content: "\e688";
}

.icon-a-Classificationoftiles:before {
  content: "\e689";
}

.icon-a-Theinstancemodel:before {
  content: "\e68a";
}

.icon-viewport1:before {
  content: "\e68b";
}

.icon-a-ArcGis:before {
  content: "\e68c";
}

.icon-shrink:before {
  content: "\e616";
}

.icon-FOV:before {
  content: "\e615";
}

.icon-a-Centerpivot:before {
  content: "\e617";
}

.icon-a-Right-clickrotation:before {
  content: "\e618";
}

.icon-a-Themousetopickup:before {
  content: "\e612";
}

.icon-a-firstperson:before {
  content: "\e613";
}

.icon-a-Theglobalrotation:before {
  content: "\e614";
}

.icon-map1:before {
  content: "\e610";
}

.icon-chucun:before {
  content: "\e611";
}

.icon-VR_filled:before {
  content: "\e6d1";
}

.icon-model:before {
  content: "\e60f";
}

.icon-quit:before {
  content: "\e60e";
}

.icon-View-Outlined:before {
  content: "\e700";
}

.icon-Help-Outlined:before {
  content: "\e6ce";
}

.icon-Arrowsvertical-Outlined:before {
  content: "\e79c";
}

.icon-Copy-2-Outlined:before {
  content: "\e6e1";
}

.icon-Search-Filled:before {
  content: "\e771";
}

.icon-Caretsort-Filled:before {
  content: "\e765";
}

.icon-Edit-Outlined:before {
  content: "\e6c6";
}

.icon-Add-Outlined:before {
  content: "\e6f6";
}

.icon-Trashcan-Outlined:before {
  content: "\e6d0";
}

.icon-calendar:before {
  content: "\e60b";
}

.icon-a-Tileservice1:before {
  content: "\e60d";
}

.icon-a-Operationlog:before {
  content: "\e60c";
}

.icon-a-Tiltdata:before {
  content: "\e607";
}

.icon-a-Resourceservices:before {
  content: "\e608";
}

.icon-lod:before {
  content: "\e609";
}

.icon-a-Sceneservice:before {
  content: "\e60a";
}

.icon-Home-Outlined:before {
  content: "\e807";
}

.icon-Chevrondown-Outlined:before {
  content: "\e6e6";
}

.icon-Chevronup-Outlined:before {
  content: "\e6e8";
}

.icon-BIM:before {
  content: "\e600";
}

.icon-a-Generalmodel:before {
  content: "\e601";
}

.icon-a-Imageslice:before {
  content: "\e602";
}

.icon-a-Pointcloudslice:before {
  content: "\e603";
}

.icon-a-Terrainslice:before {
  content: "\e604";
}

.icon-a-Tiltmodel:before {
  content: "\e605";
}

.icon-a-Vectorslice:before {
  content: "\e606";
}

