@charset "utf-8";
/* 清除默认样式 */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
input,
button {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
/*网站灰暗模式，悼念日*/
.grayMode {
  filter: grayscale(100%);
  filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
}
/* 图片消除底侧的小空隙 */
img {
  vertical-align: middle;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
#app {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Microsoft YaHei', 'Source Han Sans CN', sans-serif;
}
/* 万能清除浮动 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  /* visibility: hidden;
  font-size: 0;
  height: 0; */
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*溢出文本显示省略*/
.textFlow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 使用CSS伪元素方式增加背景图 */
body::before,
body::after {
  content           : '';
  position          : absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index           : -1;
  pointer-events    : none;
  background-size   : cover;
  background-position: center;
  background-repeat : no-repeat;
}


body::after {
  background-image: url('../img/background.jpg');
  opacity          : 1;
}

#q-app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  font-family: 'Microsoft YaHei', 'Source Han Sans CN', sans-serif;
  font-size: 16px;
}

/*******************——多主题样式定义——***********************************/
/*  浅色主题 */
.body--light {
  /* Iconify符号颜色 */
  --iconify-color: #eee;

  /* 头部背景色 */
  --header-bg-color: #222;

  /* 主内容区背景色 */
  --main-bg-color: #ccc;

  /* ******************* 左侧菜单************* */
  --sider-panel-bg-color: #273352;

  /* 菜单主背景颜色 */
  --sider-menu-bg-color: #273352;

  /* 菜单字体颜色 */
  --sider-menu-font-color: #222;

  /* 选中菜单背景颜色，默认为 #e6f7ff; */
  --sider-menu-selected-bgcolor: #e6f7ff;

  /* 选中菜单字颜色，默认为 #1890ff; */
  --sider-menu-selected-fontcolor: #1890ff;

  /* 底部状态栏颜色 */
  --footer-bg-color: #eee;
  --footer-copyright-fontcolor: #000;
  --footer-info-fontcolor: #00f;

  /* 整体字的颜色 */
  --text-color: #000;



  --primary-color: #429ce3;

  --white: #ffffff;

  --text-color: #000000;

  --start-menu-bg: #3c3c3c;
}

/* 深色主题背景 */
.body--dark {
  /* //Iconify符号颜色 */
  --iconify-color: #eee;
  /* 头部背景色 */
  --header-bg-color: #f6f7f8;
  /*  主内容区背景色 */
  --main-bg-color: #333;

  /* ******************* 左侧菜单************* */
  --sider-panel-bg-color: #eee;
  /* 菜单主背景颜色 */
  --sider-menu-bg-color: #eee;
  /* 菜单字体颜色 */
  --sider-menu-font-color: #fff;
  /* 选中菜单背景颜色，默认为 #e6f7ff; */
  --sider-menu-selected-bgcolor: #666;
  /* 选中菜单字颜色，默认为 #1890ff; */
  --sider-menu-selected-fontcolor: #1890ff;

  /* 底部状态栏颜色 */
  --footer-bg-color: #eee;
  --footer-copyright-fontcolor: #fff;
  --footer-info-fontcolor: #00f;

  /* 整体字的颜色 */
  --text-color: #fff;
}

/* iconify Icon图标样式 */
body{
  .iconify {
    width: 18px;
    height: 18px;
    /* 图片文字的基线对齐，必须要有 */
    vertical-align: middle;
    color: #fff ;
  }

}




