/* 清除默认样式 */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
input,
button {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
/*网站灰暗模式，悼念日*/
.grayMode {
  filter: grayscale(100%);
  filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
}
/* 图片消除底侧的小空隙 */
img {
  vertical-align: middle;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
#app {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Microsoft YaHei', 'Source Han Sans CN', sans-serif;
}
/* 万能清除浮动 */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  /* visibility: hidden;
  font-size: 0;
  height: 0; */
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*溢出文本显示省略*/
.textFlow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.app-loading {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4f7f9;
}

.app-loading .app-loading-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-loading .dots {
  display: flex;
  padding: 98px;
  justify-content: center;
  align-items: center;
}

.app-loading .app-loading-title {
  display: flex;
  margin-top: 20px;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#app-loading-info
{
  display: flex;
  margin-top: 10px;
  font-size:18px;
  color: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}


/* 加载动画*/
#logo-part {
  width: 20vw;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  align-items: center;
}

#waitLogo {
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  width: 40%;
  height: 40%;
}
#waitSpinner {
  grid-column: 1;
  grid-row: 1;
  -webkit-animation: spin1 0.5s infinite linear;
  -moz-animation: spin1 0.5s infinite linear;
  -o-animation: spin1 0.5s infinite linear;
  -ms-animation: spin1 0.5s infinite linear;
  animation: spin1 0.5s infinite linear;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@-webkit-keyframes spin1 {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin1 {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes spin1 {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes spin1 {
  0% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
  }
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}